.auth-form {
	max-width: 360px;
	margin: 60px auto;
	padding: 50px;
	background: none;
}

.auth-form h2 {
	text-align: center;
}

.auth-form input {
	padding: 10px;
	border-radius: 20px;
	border: 1px solid #ddd;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}
.auth-form textarea {
	padding: 10px;
	border-radius: 20px;
	border: 1px solid #ddd;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}

.auth-form textarea::placeholder {
	font-family: Poppins;
	font-weight: 200;
	opacity: 50%;
	padding: 4px;
}

.auth-form input::placeholder {
	font-family: Poppins;
	font-weight: 200;
	opacity: 50%;
	padding: 4px;
}
