@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {
	--heading-color: #707070;
	--text-color: #262626;
	--primary-color: #000000;
	--highlight-color: #ea06ff;
	--bg-color: #fafafa;
}

/* base styles */
body {
	font-family: Poppins;
	margin: 0;
	font-size: 1.1em;
	background: var(--bg-color);
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}

/* layout */
.page-title {
	font-size: 1em;
	color: var(--heading-color);
	display: inline-block;
}
.btn {
	background: linear-gradient(0.25turn, #324bd3, #e710ad);
	padding: 8px 12px;
	border-radius: 20px;
	color: white;
	cursor: pointer;
	font-size: 1em;
	border: none;
	width: 150px;
}
.btn:hover {
	box-shadow: 0 0 5px #e710ad;
}
.btn-blue {
	background: #324bd3;
	padding: 8px 12px;
	border-radius: 20px;
	color: white;
	cursor: pointer;
	font-size: 1em;
	border: none;
	width: 110px;
}

.btn-mini-blue {
	background: #324bd3;
	padding: 4px 6px;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	font-size: 0.75em;
	border: none;
	width: 70px;
}
.btn-mini-pink {
	background: #e710ad;
	padding: 4px 6px;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	font-size: 0.75em;
	border: none;
	width: 70px;
}

.btn-blue:hover {
	box-shadow: 0 0 5px #324bd3;
}

.btn-pink {
	background: #e710ad;
	padding: 8px 12px;
	border-radius: 20px;
	color: white;
	cursor: pointer;
	font-size: 1em;
	border: none;
	width: 110px;
}

.btn-pink:hover {
	box-shadow: 0 0 5px #e710ad;
}

.btn-prpl {
	background: #932bbe;
	padding: 8px 12px;
	border-radius: 20px;
	color: white;
	cursor: pointer;
	font-size: 1em;
	border: none;
	margin-left: 80px;
	width: 110px;
}

.btn-prpl:hover {
	box-shadow: 0 0 5px #932bbe;
}

/* forms */
label {
	display: block;
	margin: 24px auto;
}
label span {
	display: block;
	margin-bottom: 6px;
}
input,
textarea {
	padding: 8px 6px;
	font-size: 1em;
	color: #777;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 4px;
}
textarea {
	min-height: 160px;
}
.error {
	color: red;
	background: pink;
	border: 1px solid red;
	border-radius: 4px;
	padding: 8px;
	margin: 10px 0;
	width: 100%;
	text-align: center;
}
/* tables */
table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid #ffffff;
	text-align: left;
	padding: 8px;
	font-size: 12px;
}

th {
	background-color: rgb(117, 201, 250);
}

td {
	background-color: rgb(205, 235, 253);
}

/* form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
} */
