.home {
	justify-items: center;
	text-align: center;
	grid-template-columns: 1fr;
	width: 100%;
	height: 600px;
}

.home h1 {
	padding: 30px;
	color: white;
}

.bg {
	clip-path: ellipse(79% 42% at 49% 32%);
	background-color: #324bd3;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
	height: 100%;
}

.hero-logo {
	width: 400px;
}

.entry-btns {
	justify-content: center;
}
.entry-btns .btn {
	margin: 10 0 auto;
}

#sample {
	color: #707070;
	margin-top: 20px;
}

.home .contact h2 {
	color: #707070;
}

.footer {
	height: 100px;
	color: #707070;
}

.footer img {
	width: 100px;
}
