.curriculum-container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 0.5fr 1fr;
	grid-template-areas:
		'card video video '
		'form video video '
		'comments links links ';
	height: 700px;
}

.course-card {
	display: grid;
	grid-area: card;
	width: 100%;
}

.comment-form {
	grid-area: form;
	width: 100%;
}

.comments {
	display: grid;
	text-align: center;
	grid-area: comments;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}

.comments h3 {
	font-weight: lighter;
}

.comments p {
	font-weight: lighter;
}

.video {
	display: grid;
	justify-content: center;
	grid-area: video;
	align-content: center;
	width: 100%;
}

.video-links {
	display: grid;
	grid-area: links;
	width: 100%;
	text-align: center;
	justify-content: center;
}
