.comment-list {
	display: flex;
}

.comment-list li {
	padding: 16px;
	height: 60px;
	width: 225px;
	border-radius: 4px;
	border: 1px solid #f2f2f2;
	margin-top: 20px;
	margin-bottom: 5px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
	background: #fff;
	overflow: auto;
}
.comment-author {
	display: flex;
	font-size: 0.75em;
	align-items: center;
	color: var(--title-color);
}

.comment-content {
	color: var(--text-color);
	font-size: 0.7em;
}
.comment-list button {
	height: 20px;
	width: 55px;
}
