.video-list {
	display: grid;
	grid-template-columns: 3fr 1fr;
	height: 35px;
	width: 500px;
	align-items: center;
	border-radius: 4px;
	background-color: rgb(233, 233, 233);
}

.video-list p {
	display: flex;
	margin-left: 8px;
}

.video-list button {
	justify-content: flex-end;
	align-items: center;
}
